[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pygments = "*"
psycopg2 = "*"
django-heroku = "*"
dj-database-url = "*"
gunicorn = "*"
django-cors-headers = "*"
sentry-sdk = "*"
django-crispy-forms = "*"
django-mathfilters = "*"
django-mailjet = "*"

[requires]
python_version = "3.8"
