{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Mot de passe oublié | afaire</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h1>Salut, la tête de linotte 👋</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}
