{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Mot de passe oublié | afaire</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h1>C'est posté ! 📧</h1>

                <p>Si vous aviez un compte sur notre site, un courriel de réinitialisation de mot de passe va arriver dans votre boîte.</p>
            </div>
        </div>
    </div>
{% endblock %}
