{% extends 'base/base.html' %}

{% block title %}
    <title>Mot de passe oublié | afaire</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h1>C'est tout bon ! 👍</h1>

                <p>Votre mot de passe a bien été modifié, vous pouvez à nouveau vous connecter ! Ouf !</p>

                <p><a class="btn btn-primary" href="{% url 'users:login' %}">J'en profite</a></p>
            </div>
        </div>
    </div>
{% endblock %}
