{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>Mentions légales | afaire</title>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'pages/css/mentions.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1 class="text-center">Mentions légales</h1>

                <h2>Propriétaire et hébergement du site</h2>

                <p>
                    Le site web <a href="https://afaire.app">https://afaire.app</a> est édité et maintenu par Théo Fabry
                    : <a href="mailto:theo.fabry@gmail.com">theo.fabry@gmail.com</a>.
                </p>

                <p>
                    La base de données et les APIs de communication de celle-ci sont hébergées par Heroku, filière de
                    Salesforce :<br>
                    salesforce.com, inc.<br>
                    50 Fremont St, Suite 300<br>
                    San Francisco, California 94105<br>
                    United States of America
                </p>

                <p>
                    Les fichiers statiques (HTML, Javascript, CSS) sont hébergés par Netlify :<br>

                    Netlify, inc.<br>
                    2325 3rd Street, Suite 215<br>
                    San Francisco, California 94107<br>
                    United States of America<br>
                </p>

                <h2>Utilisation des cookies</h2>

                <p>afaire ne fait appel à aucun cookie, en son nom ou via des cookies tiers. </p>

                <p> Lors de votre connexion à afaire, un identifiant appelé "token" est stocké sur votre ordinateur,
                    dans le stockage local de votre navigateur. Cet identifiant nous permet de garder en mémoire votre
                    connexion, vous évitant d'avoir à vous reconnecter à chaque requête effectuée. </p>

                <h2>Utilisation des données personnelles</h2>

                <p>
                    afaire collecte et stocke les informations suivantes :
                </p>

                <p>
                    Votre adresse e-mail, afin de s'assurer de l'unicité des comptes créés et à des fins
                    d'identification en cas d'échange par e-mail avec nous.
                </p>

                <p>
                    Votre pseudonyme, afin de pouvoir vous connecter au service.
                </p>

                <p>
                    Vous disposez d'un droit d'opposition, d'interrogation, d'accès et de rectification de ces données.
                    Pour toute demande, veuillez contacter l'administrateur du site à l'adresse e-mail suivante : <a
                        href="mailto:theo.fabry@gmail.com">theo.fabry@gmail.com</a>.
                </p>

                <p>
                    Les informations que vous saisissez sur afaire ne sont pas transmises à quelque tiers que ce soit.
                </p>

            </div>
        </div>
    </div>
{% endblock %}